<!-- inventory/templates/inventory/item_list.html -->

{% extends 'base.html' %}
{% load static %} 

{% block content %}
  <section id="portfolio" class="portfolio">
    <div class="container">

      <div class="section-title">
        <span>Shop</span>
        <h2>Our products</h2>
        <p>See What's in Store</p>
      </div>

      <div class="row" data-aos="fade-up">
        <div class="col-lg-12 d-flex justify-content-center">
          <ul id="portfolio-flters">
            <li data-filter="*" class="filter-active">All</li>
            <li data-filter=".filter-wire">Wire-Free Cameras</li>
            <li data-filter=".filter-indoor">Indoor Wi-Fi Cameras</li>
            <li data-filter=".filter-outdoor">Outdoor Wi-Fi Cameras</li>
          </ul>
        </div>
      </div>

      <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="150">
        
          {% for item in object_list %}
            <div class="col-lg-4 col-md-6 portfolio-item filter-{{ item.item_type }} ">
              <img src="{{ item.model_image.url }}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>{{ item.item_name }}</h4>
                <p>{{ item.details }}</p>
                <a href="{{ item.model_image.url }}" data-gallery="{{ item.item_type }}" class="portfolio-lightbox preview-link" title="{{ item.item_name }} - {{ item.details }}"><i class="bx bx-plus"></i></a>
                <a href="{% url 'get_item_details' model_id=item.Item_model.pk item_id=item.pk %}" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          {% endfor %}
      </div>

    </div>
  </section><!-- End Portfolio Section -->
{% endblock %}
